---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Card from '../components/Card.astro'
import '../global.css';
import BackgroundColor from '../components/BackgroundColor.astro';
---

<!doctype html>
<html lang="es">
	<head>

		<Header />
	</head>
	<body>
		<BackgroundColor/>
		<main>
			<div class="container" style="width: 950px;max-width: calc(100% - 2em); margin: auto;padding: 3em 1em;">
				<Hero/>
				<h5 class="text-center p-5">¿Que ofrecemos??</h5>
				<Card/>
				
			</div>
		</main>
		<Footer />
	</body>
</html>
