---
interface Props {
}

const {} = Astro.props;
---

<header>
    <meta charset="UTF-8">
    <nav class="bg-gray-500">
        <div class="flex justify-between items-center">
            <div>
                <!-- Logo -->
                <img src="/public/gastly.png" alt="Logo" class="w-10 h-10 ml-4 text-white">
            </div>
            <div>
                <a href="#" class="p-3 mr-4 text-white hover:text-black hover:bg-gray-400">Inicio</a>
                <a href="#" class="p-3 mr-4 text-white hover:text-black hover:bg-gray-400">Nosostros</a>
                <a href="#" class="p-3 mr-4 text-white hover:text-black hover:bg-gray-400">Contactanos</a>
            </div>
        </div>
    </nav>

</header>