---
interface Props {
}

const {} = Astro.props;
---

<header>
    <meta charset="UTF-8">
    <nav class="bg-gray-500">
        <div class="flex justify-between items-center p-8 ">
            <div>
                <!-- Logo -->
                <img src="https://res.cloudinary.com/di98wo6zc/image/upload/v1711236862/gastly_gjtdwc.png" alt="Logo" class="w-10 h-10 ml-4 text-white">
            </div>
            <div>
                <a href="#" class="p-3 mr-4 text-white hover:text-black hover:bg-gray-300">Inicio</a>
                <a href="#" class="p-3 mr-4 text-white hover:text-black hover:bg-gray-300">Nosostros</a>
                <a href="#" class="p-3 mr-4 text-white hover:text-black hover:bg-gray-300">Contactanos</a>
            </div>
        </div>
    </nav>
</header>
