---
interface Props {
}

const {} = Astro.props;
---

<div class="h-96 flex items-center justify-center bg-slate-300 rounded-lg shadow-lg">
    <div class="ml-3 text-lg font-bold">
        <p class="">En la era digital actual, tener una presencia en línea sólida es 
            fundamental para el éxito de cualquier negocio. 
            En [Nombre de la empresa], entendemos la importancia de 
            destacarse en el mundo digital. Es por eso que ofrecemos servicios 
            de diseño web personalizados</p>
            <p>Ya sea que estés comenzando desde cero o buscando mejorar un sitio web existente, estamos aquí para ayudarte en cada paso del camino. No te quedes atrás en el mundo digital</p>
    </div>
    <div class="px-3">
        <img class="w-full object-cover" src="./public/ejemplo1.png" alt="Imagen 1">
        <img class="w-full object-cover hidden" src="./public/ejemplo2.png" alt="Imagen 2">
        <img class="w-full object-cover hidden" src="./public/ejemplo1.png" alt="Imagen 3">
    </div>
</div>

  