---
interface Props {
}

const {} = Astro.props;
---

<div class="h-auto my-16 flex items-center justify-center bg-white rounded-lg shadow-lg layout-shifter contenedor">
    <div class="">
        <img class="w-auto h-auto rounded-md" src="https://res.cloudinary.com/di98wo6zc/image/upload/v1711236622/samples/coffee.jpg" alt="Imagen 1">
    </div>
    <div class="text-lg font-bold ml-6">
        <h2>Titulo </h2>
        <br>
        <p class="">En la era digital actual, tener una presencia en línea sólida es 
            fundamental para el éxito de cualquier negocio. 
            En [Nombre de la empresa], entendemos la importancia de 
            destacarse en el mundo digital. Es por eso que ofrecemos servicios 
            de diseño web personalizados</p>
            <p>Ya sea que estés comenzando desde cero o buscando mejorar un sitio web existente, estamos aquí para ayudarte en cada paso del camino. No te quedes atrás en el mundo digital</p>
    </div>

</div>
<style>
h2 {
    font-size: 3.2rem;
}
@media (min-width:992px) {
    .layout-shifter {
        flex-direction: row;
        justify-content: space-between;
    }
}
.contenedor {
    width: 95%;
    max-width: 120rem; /**1200px; **/
    margin: 60px auto;
}
</style>
  