
<section>
    <!-- background animation colors-->
    <div class="relative w-full h-screen bg-gradient-to-br from-purple-400 via-blue-500 to-green-400 bg-200%*2 animate-Movecolor pl-10">
        <div class="relative top-2/3 ">
        <h1 class=" font-bold text-6xl md:text-8xl">Titulos prueba</h1>
        <h2 class="text-1xl md:text-3xl text-gray-700 mt-3 lg:mt-7">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h2>
        </div>
    </div>
</section>