---
import MenuItemView from "./MenuItemView.astro";
import type { menuItem } from '../interfaces/menuInterface';

interface Props{
    items:menuItem[];
}//toma las propiedades de menu item
const { items }= Astro.props;
---
<div class="p-0 mt-5 mx-0 mb-0 flex gap-4 w-auto sm:w-1/3 z-50 absolute bg-gradient-to-r from-gray-700  to-transparent " >
    {
        items.map(item => <MenuItemView {...item}/> )
    }
    <slot/>
    </div>
</div>