---
// import { ViewTransitions } from 'astro:transitions';
import Header from '../components/Header.astro';
import MenuContainer  from '../components/MenuContainer.astro';
import MenuItems from '../data/menuItems';
import MenuItemView  from '../components/MenuItemView.astro';
import type { Code } from 'astro:components';

interface Props {
  title: string;
}

const {title} = Astro.props;
---
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
</head>
<body class="bg-gray-300">
  <MenuContainer>
    {
      MenuItems.map(item => <MenuItemView {...item}/> )
    }
  </MenuContainer>
  <!-- <Header>

  </Header> -->
  <slot/>
  <main class="bg-gray-500">

  </main>

</body>
</html>